# VIM
vim/.vim/.netrwhist
vim/.vim/backup/
vim/.vim/view/
vim/.vim/pack/plugins/start/*
!vim/.vim/pack/plugins/start/header42
!vim/.vim/pack/plugins/start/jsl
vim/.vim/plugged
vim/.vim/autoload

# MISC
**/*.DS_Store
tags*
