# VIM
vim/.vim/.netrwhist
vim/.vim/backup/*
!vim/.vim/backup/undo
vim/.vim/backup/undo/*
!vim/.vim/backup/undo/.gitkeep
vim/.vim/view/
vim/.vim/pack/plugins/start/*
!vim/.vim/pack/plugins/start/header42
!vim/.vim/pack/plugins/start/jsl
vim/.vim/plugged
vim/.vim/autoload

# FISH
fish/.config/fish/fish_variables

# MISC
**/*.DS_Store
tags*
